<div class="d-flex justify-content-between mb-3">
  <h2>Personnel</h2>
  <button class="btn btn-primary" style="margin-top: auto;" [routerLink]="['/personnel/new']">
    + New Personnel
  </button>
</div>

<table class="table table-striped">
  <thead>
    <tr><th>ID</th><th>Name</th><th>Specialty</th><th>Role</th><th></th></tr>
  </thead>
  <tbody>
    <tr *ngFor="let a of Personnel">
      <td>{{a.id}}</td>
      <td>{{a.name}}</td>
      <td>{{a.specialty}}</td>
      <td>{{a.role}}</td>
      <td>
        <button class="btn btn-sm btn-secondary me-2"(click)="edit(a.id)">Edit</button>
        <button class="btn btn-sm btn-danger" (click)="delete(a.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
