<nav class="navbar navbar-expand bg-dark navbar-dark" style="margin: auto; padding-left: 2rem; padding-right: 2rem;">
  <a class="navbar-brand" routerLink="/">TaskForce</a>
  <ul class="navbar-nav">
    <li class="nav-item"><a class="nav-link" [routerLink]="['/aircraft']">Aircraft</a></li>
    <li class="nav-item"><a class="nav-link" [routerLink]="['/tasks']">Tasks</a></li>
    <li class="nav-item"><a class="nav-link" [routerLink]="['/personnel']">Personnel</a></li>
    <li class="nav-item"><a class="nav-link" [routerLink]="['/assignments']">Assignments</a></li>
  </ul>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
